<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="cityListJsonPath" value="C:\Users\tomas\Desktop\poprawki\ProjectWeatherInformer-master\WeatherInformer\jsonCityList.json"/>
        <add key="urlJson" value="http://api.openweathermap.org/data/2.5/weather?q={0}&amp;units=metric&amp;APIkey=b862781df6493f91ca00e9befe5962ad"/>
        <add key="urlXml" value="http://api.openweathermap.org/data/2.5/weather?q={0}&amp;mode=xml&amp;APIkey=b862781df6493f91ca00e9befe5962ad"/>
        <add key="urlIcon" value="http://api.openweathermap.org/img/w/{0}.png"/>        
    </appSettings>
    <system.net>  
        <mailSettings>  
            <smtp deliveryMethod="Network" from ="tomotest8@gmail.com">  
                <network  
                host="smtp.gmail.com"  
                port="587"  
                defaultCredentials="false"
                enableSsl="true"
                userName="tomotest8@gmail.com"
                password="Qwertyu123#"
                />  
            </smtp>  
        </mailSettings>  
    </system.net>        
</configuration>
